---
title: 标签
layout: default
---
<link type="text/css" rel="stylesheet" href="/assets/tags.css">
<div class="posttext" style="margin-bottom: 20px;">
    <div class="posttitle">
        <a href="{{ page.url }}">标签</a><hr>
    </div>
    <div class="tag">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] }}" 
           title="{{ tag[0] }}" 
           style="font-size: {{ tag[1].size | divided_by:5 | times:20 | plus:100 }}%;">
            <code>{{ tag[0] }}<sup> {{ tag[1].size }}</sup></code>
        </a>
        {% endfor %}
    </div>
</div>

<div class="post">
    <div class="posttext">
    {% for tag in site.tags %}
        <blockquote id="{{ tag[0] }}">{{ tag[0] }}</blockquote>
        <ul>
            {% for post in tag[1] %}
            <li>
            <time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string}}</time>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>
    <div class="postfooter"></div>
</div>
