html { 
    height: 100%;
    background-attachment: fixed;
    background-image: url("background.jpg");
    background-color: #222;
    background-position: center center;
}

body {
    background: url("line.png") repeat fixed -42px top transparent;
    color: #888;
    font: 12px/200% "Noto Sans", "Noto Sans CJK CN", "Noto Sans CJK","RobotoDraft","Roboto","Helvetica Neue","WenQuanYi Micro Hei","WenQuanYi Zen Hei", Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    min-width: 900px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
/* 普通链接样式 */
a {
    color: #DDD;
    text-decoration: none;
    transition: all 0.3s ease 0.1s; 
} 
a:hover {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s ease 0s; 
    text-shadow: 0px 0px 10px rgba(115, 184, 57, 1);
} 
/* 侧边栏 */
.sidebar {
    color: #DDD;
    left: 40px;
    position: fixed;
    top: 40px;
    width: 150px;
}
.sidebar ul {
    padding: 0px;
}
.sidebar li {
    list-style: none;
    padding: 6px 0px;
}
.sidebar img {
    border-radius: 50%;
    transition: all 0.3s ease 0s; 
}
.sidebar img:hover {
    opacity: 0.8;
    transition: all 0.3s ease 0s; 
}
/* 主体 */
.postlist {
    padding: 40px 0px;
    margin: 0px auto;
    width: 500px;
}
.post {
    background: none repeat scroll 0% 0% rgba(21, 21, 21, 0.8);
    border-radius: 3px;
    margin-bottom: 40px;
}
.posttitle {
    font-size: 20px;
}
.posttext {
    padding: 26px 20px 0px;
}
/* 文章页脚 */
.postfooter {
    border-radius: 3px;
    background: none repeat scroll 0% 0% rgba(21, 21, 21, 0.8);
    height: 40px;
}
/* 日期 */
.postdate {
    display: inline;
    padding-left: 25px;
    line-height: 40px;
    padding: 0px 20px;
}
.postdate a{
    color: #666;
    height: 40px;
    display: inline-block;
}
.postdate a:hover{
    color: #AAA;
}
.posttags {
    float: right;
    display: inline;
    padding-left: 25px;
    line-height: 40px;
    padding: 0px 20px;
}
.posttags a{
    color: #666;
    height: 40px;
    display: inline-block;
}
.posttags a:hover{
    color: #AAA;
}
/* 翻页 */
.switchpage {
    height: 40px;
    text-align: right;
    line-height: 32px;
}
.switchpage a{
    color: #666;
    display: inline-block;
    line-height: 32px;
    height: 32px;
    margin: 4px 6px 4px 6px;
    padding: 0px 6px 0px 6px;
    border-radius: 1px;
}
.switchpage a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #DDD;
}
/* 主体结束 */
/* 页脚 */
.footer {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    color: #666;
    position: fixed;
    bottom: 0px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    z-index: 998;
}
.footer a {
    color: #666;
}
.footer a:hover{
    color: #AAA;
}
code {
    background: none repeat scroll 0% 0% rgba(20, 20, 20, 0.8);
    border-radius: 2px;
    font-size: 14px;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    margin: 2px;
    padding: 4px 3px 2px 4px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
/* 拥有 class 属性的 都是由 highlight.js 生成的 */
code[class] {
    white-space: pre;
}
.tag code {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
    font-size: 13px;
}
blockquote {
    background: none repeat scroll 0% 0% rgba(200, 200, 200, 0.1);
    border-left: 5px solid #AAA;
    margin: 0px;
    padding-left: 1.0em;
}
::-moz-selection{   /*针对Firefox*/
    background: none repeat scroll 0% 0% rgba(115, 184, 57, 0.25);
}

::selection {
    background: none repeat scroll 0% 0% rgba(115, 184, 57, 0.25);
}

code::-moz-selection { /*code是标签选择器，可以换成p或span等*/
    background: none repeat scroll 0% 0% rgba(115, 184, 57, 0.25);
}

code::selection {
    background: none repeat scroll 0% 0% rgba(115, 184, 57, 0.25);
}
