/* 多说评论框样式 */
/*************隐藏信息****************/
/* 隐藏分享 */
#ds-sync-checkbox {checked: }
/* 隐藏最热最新 */
#ds-thread #ds-reset .ds-sort{display:none;}
/* 隐藏评论左上方 评论总数背景色，边框，阴影 */
#ds-thread #ds-reset li.ds-tab a.ds-current{background:none;border:none;text-shadow:none;}
/* 隐藏评论框底部渐变背景 */
#ds-reset .ds-gradient-bg{background:none !important;}
/* 隐藏喜欢 */
.ds-post-likes{display:none;}
/* 隐藏版权声明 */
/*#ds-thread #ds-reset .ds-powered-by{display:none;}*/
/* 隐藏浮动窗口图标 */
#ds-wrapper #ds-reset .ds-dialog-footer {display:none;}

/*************美化****************/
/* 缩进和字体 */
#ds-thread {
    padding:8px; 
    margin: 8px;
    font: 12px/200% "Hiragino Sans GB","Consolas","Microsoft YaHei","微软雅黑","arial";
}
/* 链接颜色设置 */
#ds-reset {color: inherit !important;}
#ds-thread #ds-reset a:hover{color: #DDD !important;}
 /*圆角显示*/
#ds-thread{ border-radius: 5px;}
/* 美化发布按钮 */
#ds-thread #ds-reset .ds-post-button{
    font: inherit; 
    background: none !important;
    color: #666; !important;
    text-shadow: none;
}
#ds-thread #ds-reset .ds-post-button:hover {
    color: #DDD; !important;
    background: rgba(255, 255, 255, 0.2) !important;
}
/* 去除发布按钮框线 */
#ds-thread #ds-reset .ds-post-toolbar {box-shadow: none;}
/*定义高亮字体颜色*/
#ds-reset .ds-highlight{color:#DDD !important;}
/*定义评论框内其他高亮颜色*/
#ds-thread #ds-reset #ds-bubble a{color: #DDD !important;}
/*定义评论框内其他高亮颜色*/
#ds-thread #ds-reset #ds-bubble {color: #DDD !important;}
/*定义评论框内其他高亮颜色*/
#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a{color: #DDD !important;}
/*定义评论框内其他高亮颜色*/
#ds-thread #ds-reset a.ds-comment-context:hover{color: #DDD !important;}
/*定义评论框内其他高亮颜色*/
#ds-thread #ds-reset a.ds-comment-context{color: #DDD !important;}
/* 更多服务 高亮颜色 */
#ds-thread #ds-reset .ds-login-buttons .ds-more-services{ color: #666 !important; }
#ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover { color: #DDD !important; }
/* 浮动窗口 */
#ds-wrapper #ds-reset .ds-dialog-inner {
    background: none repeat scroll 0% 0% rgba(21, 21, 21, 0.8) !important;
}
#ds-thread #ds-reset #ds-bubble{
    text-shadow: none;
    background: none repeat scroll 0% 0% rgba(21, 21, 21, 0.8) !important;
}

