---
layout: default
---
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}assets/cover.css">
<!-- highlight.js  -->
<link rel="stylesheet" href="{{ site.baseurl }}highlight/styles/monokai_sublime.css">
<script src="{{ site.baseurl }}highlight/highlight.pack.js"></script>
<script> hljs.initHighlightingOnLoad();</script>
<!-- 博客主体  -->
<div class="post">
    <div class="posttext">
        <div class="posttitle">
            <a href="{{ page.url }}">{{ page.title }}</a>
            <hr>
        </div>
        {{ content }}
        {% include disqus.html %}
    </div>
    <div class="postfooter">
        <div class="postdate">
            <a href="">{{ page.date | date_to_string }}</a> 
        </div>
        <div class="switchpage">
            {% if page.previous %}
            <a href="{{ page.previous.url }}">◣ 上 • {{ page.previous.title }}</a>
            {% else %}
            <a>◣ 上 • 尽头</a>
            {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}">下 • {{ page.next.title }} ◢ </a>
            {% else %} 
            <a>下 • 尽头 ◢ </a>
            {% endif %}
        </div>
    </div>
</div>
