---
layout: default
---
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/post.css">
<!-- highlight.js  -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/highlight/styles/solarized_dark.css">
<script src="{{ site.baseurl }}/assets/highlight/highlight.pack.js"></script>
<script> hljs.initHighlightingOnLoad();</script>
<!-- 博客主体  -->
<div class="post">
    <div class="posttext">
        <div class="posttitle">
            <a href="{{ page.url }}"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{ page.title }}</a>
            <hr>
        </div>
        <i class="fa fa-tags"></i>&nbsp;&nbsp;
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags.html#{{ tag }}">{{ tag }}&nbsp;&nbsp;</a>
        {% endfor %}
        <div class="postcontent">
        {{ content }}
        </div>
    </div>
    {% include comments %}
    <div class="postfooter">
        <div class="postdate">
            <a href="{{ site.baseurl }}/archives.html#{{ page.date | date:"%y 年 %m 月" }}">
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ page.date | date_to_string }}
            </a>
        </div>
        <div class="switchpage">
            {% if page.previous %}
            <a href="{{ site.baseurl }}{{ page.previous.url }}"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;上 • {{ page.previous.title }}</a>
            {% else %}
            <a><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;上 • 尽头</a>
            {% endif %}
            {% if page.next %}
            <a href="{{ site.baseurl }}{{ page.next.url }}">下 • {{ page.next.title }}&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
            {% else %}
            <a>下 • 尽头&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>
